<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<style>
        body
    {
        background-color: black;
        color: white;
        padding-left:300px;
        padding-top: 150px;
    }
    input[type="submit"]{
  border: 1px solid white;
  background-color: green;
  color:white;
  padding:10px;
  margin-left: 100px;
  border-radius:25px;

}
table {
  width: 600px;
  /* border: 1px solid #000; */
}
th{
    width:350px;
}

</style>
<body>
<form action='/' method = "post">
    <input type = "submit" value = "Check another paragraph for grammatical errors." /> 
</form>
<br>
<table>
    <tr>
        <th>Blog description with corrected grammar:</th>
        <td>{{dic['result']}}</td>
    </tr>
    <tr>
        <th>Number of Incorrect words:</th>
        <td>{{num}}</td>
    </tr>
    <tr>
        <th>Number of fixed words:</th>
        <td>{{num}}</td>
    </tr>
    <tr>
        <th>Incorrect words:</th>
        <td>
        {% for i in dic['corrections'] %}
        {{i['text']}},
        {% endfor %}
    </td>
    </tr>
</table>
</body>
</html>